/* CSS Document */
.big{ height:382px; padding-left:40px; border-top:40px solid #9CF; border-left:2px solid #9cf;  border-right:2px solid #9cf;  border-bottom:2px solid #9cf; position:relative;}
.big>b{font-size:16px; position:absolute; left:20px; top:-28px;}
.big>b>a:hover{color:#F00; text-decoration:underline;}
.big>.title{margin-top:24px;}
.big>.title>i{ height:4px; margin-top:-10px; margin-left:74px; display:block; background:#9cf;}
.big>.title>em{ height:4px; width:42px; margin-top:-2px; margin-left:-40px; display:block; background:#9cf;}
.big>.title>span{font-size:16px; line-height:32px; padding:4px 4px 0; border-top:2px solid #9cf;border-left:2px solid #9cf; border-right:2px solid #9cf;}
.big p{font-size:18px; font-weight:bold; color:#F30; margin:24px auto;}
.big p img{width:80px; height:80px; border-radius:50%; margin:0 24px -30px;}
.big p>span{font-size:18px; font-weight:bold; color:#000;}

/*修改基本资料*/
.big p>.grzx_input{border:1px solid #000; border-radius:4px; width:200px; height:24px;}
.big p>.width_400{border:1px solid #000; border-radius:4px; height:24px; width: 400px;}
.big p>.submit{width:48px; height:32px; font-weight:bold; margin-left:100px; border-radius:4px; background:#03F; color:#fff; cursor: pointer;}
.big p>.submit:hover{ background:#9cf; color:#f00;}
.big p>.reset{width:48px; height:32px; font-weight:bold; margin-left:32px; border-radius:4px; background:#03F; color:#fff; cursor: pointer;}
.big p>.reset:hover{ background:#9cf; color:#f00;}