
	html,div,h1,ul,ol,li,button,input,body{
		margin: 0px;
		padding: 0px;
	}
	#searchButton, .ico-global, .arrow, .phone_logo, .weixin_logo{
		background:url(../img/un_header_footer20160610.png) no-repeat scroll;
		
	}
	body{
		color: black;
		width: 100%;
		font: 12px/1.5 "Microsoft yahei",arial, Simsun, sans-serif;
		/* text-align: center; */
	}
	li{
		float: left;
		list-style: none;
	}
	a{
		text-decoration: none;
		color: black;
	}
	.header{
		/* position: relative; */
		height: 65px;
		width: 100%;
		margin: 0px;
		/* background: red; */
	}
	.headerCenter{
		position: relative;
		/* background: gray; */
		min-width: 980px;
		max-width: 1180px;
		height: 65px;
		margin: 0px auto;
	}
	.logo{
		display: inline-block;
		position: relative;
		width: 126px;
		height: 43px;
		margin: 11px auto;
		padding-left: 50px;
		overflow: hidden;
		left: -50px;
	}
	.search{
		position: absolute;
		left: 170px;
		top: 18px;
		width: 28%;
		font-family: "Microsoft Yahei", Tahoma;
	}
	#searchInput{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 28px;
		padding: 0 45px 0 5px;
		line-height: 28px \9;
		font-size: 12px;
		font-family: "Microsoft Yahei", Tahoma;
		border: 1px solid #8ebefc;
		box-shadow: 2px 2px 1px 0 rgba(164, 203, 255, 0.25) inset;
		outline: 0 none;
		border-radius: 4px;
	}
	#searchButton{
		position: absolute;
		top: 1px;
		right: -51px;
		width: 42px;
		height: 28px;
		cursor: pointer;
		border: 0 none;
		background-color: #a4cbff;
		background-position: -52px -603px;
		border-radius: 0
	}
	#searchButton:hover{
		
		background-position: -52px -627px;
		background-color: #2577e3;
		
	}
	.language{
		float: left;
		height: 15px;
		line-height: 15px;
		padding: 0 10px;
		margin: 23px 0 0 0;
		border-right: 1px solid #b2b2b2;
	}
	#language_wrap{
		position: absolute;
		z-index: 30;
		left: auto;
		right: 0;
		margin-right: 74px;
		width: 613px;
		top: 40px;
		height: auto;
		background: #e4e7eb;
		padding: 3px;
		border-radius: 3px;
	}
	.language_list{
		position: relative;
		border: 1px solid #b8b8b8;
		background: #fff;
		padding: 20px;
		width: 570px;
		overflow: hidden;
	}
	.language_list li{
		display: inline-block;
		padding-top: 0;
		padding: 5px 10px;
		width: 170px;
		height: 30px;
		margin-bottom: 5px;
	}
	.language_current:hover{
		background: #e4e7eb;
    	text-decoration: none;
    	cursor: pointer;
    	color: #4c4c4c;
    	font-size: 12px;
	}
	.ico-global{
		margin-top: -2px;
		height: 16px;
		background-position: -64px 0;
		display: inline-block;
		width: 19px;		
		margin-right: 5px;
		vertical-align: middle;
	}
	.arrow{
		display: inline-block;
		width: 9px;
		height: 5px;
		vertical-align: middle;
		margin-left: 5px;
		overflow: hidden;
		background-position: -63px -260px;
	}
	.bar ul.service_1180 {
		border-right: none !important;
		padding-right: 0;
	}
	.headerCenter .bar .language, .headerCenter .bar .cui_service{
		float: left;
		height: 15px;
		line-height: 15px;
		padding: 0 10px;
		margin: 23px 0 0 0;
		border-right: 1px solid #b2b2b2;
	}
	
	.bar{
		position: absolute;
		height: 38px;
		width: 400px;
		right: 0;
		top: 0;
		font-family: Arial, tahoma, verdana, "Microsoft YaHei", Simsun, sans-serif;
		color: #4c4c4c;
		font-size: 12px;
	}
	
	.cui_service li {
		position: relative;
		z-index: 30;
	}
	.service_centerLi:hover{
		text-decoration: underline;
	}
	.jingnei{
		display: inline-block;
		padding: 3px 3px 0 3px;
		margin-top: -10px;
		color: #4c4c4c;
		font-size: 12px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		margin-left: -9px;
	}
	.jingnei span{
		position: relative;
		z-index: 112;
		display: inline-block;
		padding: 6px 5px 6px 9px;
		margin: 1px 1px -2px;
	}
	.service_telnum{
		color: #06c;
		font-style: normal;
	}
	.jingnei b.arrow{
		background-position: -22px -264px;
	}
	.phone_weixin{
		float: left;
    	height: 15px;
    	line-height: 15px;
    	padding: none;
		margin: 23px 0 0 0;
		/* margin-left: 13px; */
	}
	.phone_weinxin li{
		float: left;
		margin-right: 7px;
		display: block;
		width: 20px;
		height: auto;
	}
	.phone{
		cursor: pointer;
		color: #4c4c4c;
	}
	.phone_logo, .weixin_logo{
		display: inline-block;
		width: 20px;			
	}
	.phone_logo{
		height: 17px;
		background-position: 0 -56px;
	}
	.weinxin{
		float: left;
		cursor: default;
		position: relative;
		color: #4c4c4c;
		height: 15px;
	}
	.weixin_logo{
		height: 17px;
		background-position: -20px -55px;
		margin-top: 0;
	}
	.navigation{
		font-family: 'microsoft yahei', Arial, sans-serif;
		text-align: left;
		font-size: 12px;
		width: 100%;
		background-color: #2577e3;
	}
	.navigation ul{
		position: relative;
		z-index: 25;
		min-width: 1100px !important;
		max-width: 1230px;
		margin: 0 auto;
		padding: 0;
		height: 40px;
		line-height: 40px;
		font-size: 15px;
		}
	.navigation li{
		width: 5%;
		text-align: center;
		cursor: pointer;
	}
	.navigationUl li ul{
		width: 1300px !important;
	}
	.homeA, .hotelA, .travelA, .airA, .railwayA, .carA, .ticketA, .groupA, .strategyA, 
	.buyA, .giftA, .businessA, .steamerA,.haitianA, .moreA{
		color: white;
	}
	/* 首页 */
	.homeLi:hover{
		background: #a4cbff;
	}
	/* 酒店 */
	.hotel{
		position: relative;
		display: none;
		background-color: #eee;
		border-bottom: 1px solid #2577e3;
		border-left: 1px solid #2577e3;
		border-right: 1px solid #2577e3;
		height: 40px;
		min-width: 980px;
		max-width: 1180px;
		margin-left: 87px;
		left: -100%;
	}
	.hotel li{
		width: 9%;
	}
	.hotel li:hover{
		background-color: #a4cbff;
	}
	.hotelLi:hover{
		background: blue;
	}
	/* 旅游 */
	.travel{
		position: relative;
		display: none;
		background-color: #eee;
		border-bottom: 1px solid #2577e3;
		border-left: 1px solid #2577e3;
		border-right: 1px solid #2577e3;
		height: 40px;
		min-width: 980px;
		max-width: 1180px;
		margin-left: 87px;
		left: -200%;
	}
	.travel li{
		width: 9%;
	}
	.travelLi:hover{
		background: blue;
	}
	.travel Li:hover{
		background-color: #a4cbff;
	}
	/* 机票 */
	.air{
		position: relative;
		display: none;
		background-color: #eee;
		border-bottom: 1px solid #2577e3;
		border-left: 1px solid #2577e3;
		border-right: 1px solid #2577e3;
		height: 40px;
		min-width: 980px;
		max-width: 1180px;
		margin-left: 87px;
		left: -300%;
	}
	.air li{
		width: 11%;
	}
	.airLi:hover{
		background: blue;
	}
	.air li:hover{
		background-color: #a4cbff;
	}
	/* 火车票 */
	.railway{
		position: relative;
		display: none;
		background-color: #eee;
		border-bottom: 1px solid #2577e3;
		border-left: 1px solid #2577e3;
		border-right: 1px solid #2577e3;
		height: 40px;
		min-width: 980px;
		max-width: 1180px;
		margin-left: 87px;
		left: -400%;
	}
	.railway li{
		width: 13%;
	}
	.railwayLi:hover{
		background: blue;
	}
	.railway li:hover{
		background-color: #a4cbff; 
	}
	/* 用车 */
	.car{
		position: relative;
		display: none;
		background-color: #eee;
		border-bottom: 1px solid #2577e3;
		border-left: 1px solid #2577e3;
		border-right: 1px solid #2577e3;
		height: 40px;
		min-width: 980px;
		max-width: 1180px;
		margin-left: 87px;
		left: -500%;
	}
	.car li{
		width: 12%;
	}
	.carLi:hover{
		background: blue;
	}
	.car li:hover{
		background-color: #a4cbff;
	}
	/* 门票 */
	.ticket{
		position: relative;
		display: none;
		background-color: #eee;
		border-bottom: 1px solid #2577e3;
		border-left: 1px solid #2577e3;
		border-right: 1px solid #2577e3;
		height: 40px;
		min-width: 980px;
		max-width: 1180px;
		margin-left: 87px;
		left: -600%;
	}
	.ticket li{
		width: 12%;
	}
	.ticketLi:hover{
		background:blue;
	}
	.ticket li:hover{
		background-color: #a4cbff;
	}
	/* 团购 */
	.group{
		position: relative;
		display: none;
		background-color: #eee;
		border-bottom: 1px solid #2577e3;
		border-left: 1px solid #2577e3;
		border-right: 1px solid #2577e3;
		height: 40px;
		min-width: 980px;
		max-width: 1180px;
		margin-left: 87px;
		left: -700%;
	}
	.group li{
		width: 7%;
	}
	.groupLi:hover{
		background: blue;
	}
	.group li:hover{
		background-color: #a4cbff;
	}
	/* 攻略 */
	.strategyLi:hover{
		background: blue;
	}
	/* 全球购 */
	.buy{
		position: relative;
		display: none;
		background-color: #eee;
		border-bottom: 1px solid #2577e3;
		border-left: 1px solid #2577e3;
		border-right: 1px solid #2577e3;
		height: 40px;
		min-width: 980px;
		max-width: 1180px;
		margin-left: 87px;
		left: -900%;
	}
	.buy li{
		width: 9%;
	}
	.buyLi:hover{
		background: blue;
	}
	.buy li:hover{
		background-color: #a4cbff;
	}
	/* 礼品卡 */
	.gift{
		position: relative;
		display: none;
		background-color: #eee;
		border-bottom: 1px solid #2577e3;
		border-left: 1px solid #2577e3;
		border-right: 1px solid #2577e3;
		height: 40px;
		min-width: 980px;
		max-width: 1180px;
		margin-left: 87px;
		left: -1000%;
	}
	.gift li{
		width: 9%;
	}
	.giftLi:hover{
		background: blue;
	}
	.gift li:hover{
		background-color: #a4cbff;
	}
	/* 商旅 */
	.business{
		position: relative;
		display: none;
		background-color: #eee;
		border-bottom: 1px solid #2577e3;
		border-left: 1px solid #2577e3;
		border-right: 1px solid #2577e3;
		height: 40px;
		min-width: 980px;
		max-width: 1180px;
		margin-left: 87px;
		left: -1100%;
	}
	.business li{
		width: 9%;
	}
	.businessLi:hover{
		background: blue;
	}
	.business li:hover{
		background-color: #a4cbff;
	}
	/* 邮轮 */
	.steamerLi:hover{
		background: blue;
	}
	/* 海天邮轮 */
	.haitianLi:hover{
		background: blue;
	}
	.more{
		position: relative;
		display: none;
		background-color: #eee;
		border-bottom: 1px solid #2577e3;
		border-left: 1px solid #2577e3;
		border-right: 1px solid #2577e3;
		height: 40px;
		min-width: 980px;
		max-width: 1180px;
		margin-left: 87px;
		left: -1400%;
	}
	.more li{
		width: 9%;
	}
	.moreLi:hover{
		background: blue;
	}
	.more li:hover{
		background-color: #a4cbff;
	}
		

	.loginDivLi{
		text-align: center;
		width: 13% !important;
		float: right;
		background-color: #ff9913;
	}
	.loginLi{
		width: 6% !important;
		font-size: 12px;
	}
	.login, .register, .myxiecheng{
		color: #fff;
	}
	.loginLi span{
		color: #FFF;
	}
	.myxiechengLi{
		font-size: 12px;
	}
	.logAndRegister li a:hover{
		text-decoration: underline;
	}