/* CSS Document */
/*筛选个人中心*/

.comWidth #sx_grzx_big{width:200px; height:180px; border:2px solid #F00; border-radius:8px; z-index:200; position:fixed; right:16px; top:26px; background:#6CF; display:none;}
#sx_grzx_big p{width:80px; height:80px; margin:16px auto; border:1px solid #F00; border-radius:50%; background:url(../images/touxiang.png) center; }
#sx_grzx_big b{display:block; width:100%; color:#F00; margin:0px; text-align:center;}
#sx_grzx_big b span{font-size:16px; color:#00F;}


.banner{
	width:314px;
	height:402px;
	margin:0 auto;
	overflow:hidden;
	position:relative;	
	border:2px solid #ccc;
	float:left;
	}

.banner .banner_img{
	width:314px;
	height:312px;
	background:#ddf9d7 url(../images/goodsdetails/banner_05.jpg) center no-repeat;
	animation:show 3s backwards;
	-webkit-animation:show 3s backwards;
	}
	
@keyframes show{
	0%{
		opacity:0;
		filter:alpha(opacity=0);
		}	
	100%{
		opacity:1;
		filter:alpha(opacity=100);
		}	
}

@-webkit-@keyframes show{
	0%{
		opacity:0;
		filter:alpha(opacity=0);
		}	
	100%{
		opacity:1;
		filter:alpha(opacity=100);
		}	
}

@-moz-@keyframes show{
	0%{
		opacity:0;
		filter:alpha(opacity=0);
		}	
	100%{
		opacity:1;
		filter:alpha(opacity=100);
		}	
}
	

.banner .bott_img{
	width:314px;
	height:80px;
	margin:0px auto;
	padding:4px 0;
	border-top:2px solid #ccc;
	}
	

.banner .bott_img li{
	float:left;
	cursor:pointer;
	width:80px;
	height:78px
	border:2px #ccc solid;
	overflow:hidden;
	margin:0px 11px;
	}
.banner .bott_img .current{ 
	border:2px #f60 solid;
	height:78px
	}
	
/*浜у澧*/
#text{border:2px solid #999; float:left; height:28px; width:22px;}
#jia{border:2px solid #CCC; background:#CCC;  float:left; height:32px; width:28px; cursor:pointer;}
#jian{border:2px solid #CCC; background:#CCC; float:left; height:32px; width:28px; cursor:pointer;}




.buy>li span:hover{
	background:#06f;color:#F00;}
.buy li{float:left;text-align:center; border-left:solid 0px #ccc; margin-left:-1px;}
.buy mai{background-color:#0479CA; font-weight:bold; color:#FFF; position:relative;}
.buy span{background:#F90; left center no-repeat; padding:0px 4px; display:inline-block; line-height:40px; text-align:center; border-radius:10px 10px 10px 10px; width:70px;}
.buy>li>a{
	
	line-height:50px;
	height:30px;
	display:inline-block;
	padding-left:10px;
	padding-right:28px;
	transition:all 0.2s;}
.notes{
	margin-top:100px;}

.des_tit_1{height:39px; border-bottom: #CCC solid 1px; background:url(../images/icon/des_title.jpg) left top repeat-x;}
.des_tit_1 li{float:left; width:50%; font:14px/39px "瀹浣"; text-align:center; border-left:solid 1px #ccc; margin-left:-1px; }
.active_2{ background:#06f url(../images/icon/des_title_icon.png) 120px no-repeat;  position:relative;}
.des_tit_1 span{display:block; width:100%; text-align:center;}
.des_tit_1 span:hover{font-weight:bold; color:#F00;}

.score_text{overflow:hidden; margin-bottom:10px; color:#FFF; height:16px;background-color:#BDBDBD;  }
.score_text li{float:left;}
.score_text .speed_1{width:114px; text-indent:26px;}
.score_text .speed_2{width:82px;}
.score_text .speed_3{width:76px;}
.score_text .speed_4{width:65px;}
.score_text>li span:hover{
	background:#06f;color:#F00;}
.score_text span{ display:inline-block; text-align:center;width:60px;}

.review_1{line-height:32px; height:100%; padding-left:20px;}
.review_1 li{float:left; height:100%; margin-right:40px;}
.review_1 li a{display:inline-block; height:30px; line-height:30px; padding:0 5px;}
.review_1 .active_1{color:#317DE6; font-weight:bold; border-bottom:#317DE6 solid 2px; margin-bottom:-2px; position:relative;}
.review_1>li span:hover{
	background:#06f;color:#F00;}
.review_1 span{ display:inline-block; text-align:center;}

.img_item span{ width:158px; height:170px; position:absolute; display:inline-block; left:0; top:0; background:#3CF; text-align:center; font-size:18px; color:#F00; line-height:218px; opacity:0; filter:alpha(opacity=0); padding-left:30px;}
.img_item span:hover{opacity:0.8; filter:alpha(opacity=80);}
.shop_img img{width:100%; height:218px; display:block;}