@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;border:none; background:none;}
textarea{resize:none;}
a{text-decoration:none; color:#656565;}

/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.fl{float:left;}
.fr{float:right;}



/*返回顶部*/
#btn{
	 width: 50px;
	 height: 50px;
	 line-height: 25px;
	 cursor: pointer;
	 background:#accaf4;
	 color:#000; 
	 position: fixed; 
	 bottom:100px; 
	 right:0px; 
	 text-align: center; 
	 font-size:18px; 
	 }
	 
#btn:hover{
	 background:#F30;
	 color:#fff; 
	}
	
#fanhui{
	 width: 50px;
	 height: 50px;
	 line-height: 25px;
	 cursor: pointer;
	 background:#accaf4;
	 color:#000; 
	 position: fixed; 
	 bottom:240px; 
	 right:40px; 
	 text-align: center; 
	 font-size:18px; 
	 }
	 
#fanhui:hover{
	 background:#F30;
	 color:#fff; 
	}





























