body{
    margin: 0 auto;
    padding: 0;
    max-width: 940px;
    font-family: "Microsoft Yahei";
    font-size: 11px;
    background: #060e1b;
    color: gray
}
li{
    list-style: none;
    font: 14px 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
    padding-top: 4px;
}
/*总体内容*/
.content{
    position: relative;
    margin: auto;
    width: 90%;
    height: 800px;
    /* border: 1px solid wheat; */
    border-radius: 10px;
}
.contentdiv{
    width: 100%;
}
.headerimg{
    width: 100px;
    height: 120px;
    border-radius: 50%;
    margin-top: 10px;
}
.headerimg:hover{
    cursor: pointer;
}
.header{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
/*canvas背景*/
.canvasbg{
    width: 100%;
    position: absolute;
    margin: 10px auto;
    /*display: inline-block;*/
}


/*横条*/
.line{
    width: 100%;
    height: 30px;
    background: rgb(56, 55, 55);
}
/*销售*/
.xiaoshoudiv{
    width: 500px;
    padding: 20px;
    margin-left: -250px;
    margin-top: -183px;
    background: rgba(56, 55, 55, .8);
    color: #00FFFF;
    height: 300px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 20px gray;
    text-align: left;
    left: 50%;
    top: 50%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2000;
    position: fixed;
}
.xiaoshoubtn{
    position: absolute;
    color: #fff;
    width: 90px;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 32px;
    margin: 100px auto;
    left: 205px;
    cursor: pointer;
    background: rgb(48,133,214);
}
/*简介*/
.jianjie, .more{
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    color: gold;
}
.jianjiediv{
    font-family: "楷体","楷体_GB2312";
    font-weight: 700;
    font-size: 20px;
    text-indent: 2em;
    margin: 10px;
}
.jianjiespan{
    text-indent: 2em;   
}
.jianjiespan span{
    color: blue;
}
/*项目经验,工作经验,技能展示,联系方式*/
.work, .jineng, .project, .contact{
    margin: 1%;
    padding: 1%;
    border: 1px solid goldenrod;
    border-radius: 5px;
    height: 300px; 
    width: 23%;
}

ul{
    position: relative;
    font: 20px Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
    font-weight: 700;
    margin-top: 20px; 
    float: left;
}
.proLi i{
    float: left;
}

.games, .proUl{
    clear: both;
    margin-left: -20px;
    margin-top: -28px;
}
.fa-calendar-plus-o, .fa-tags, .phone, .pro{
    width: 40px;
    padding: 5px 0; 
    text-align: center;
    background: rgb(36, 35, 35);
    color: yellow;
    border-radius: 10px;
}
/*技能展示精通*/
.jnzs{
    margin-top: 4px;
    font-size: 12px;
    float: right;
    color: white;
    background: red;
    padding: 0 3px;
}
/*技能展示熟练*/
.jnzssl{
    margin-top: 4px;
    font-size: 12px;
    float: right;
    color: white;
    background: rgb(184, 97, 97);
    padding: 0 3px;
}
li i{
    margin-top: 2px;
    padding-top: 4px;
    width: 24px;
    height: 24px;
    text-align: center;
    background: white;
    border: 1px solid orange;
    border-radius: 12px;
    color: orange;
}
.fa-file{
    clear: both;
    position: relative;
}


/*屏幕宽度小于1100px*/
@media(max-width: 1100px){
    body{
        margin: 0;
        padding: 0;
        height: auto;
        background: gainsboro;
    }
    .name{
        font-size: 20px;
        margin: 2px auto;
    }
    .headerimg{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-top: 10px;
    }
    canvas{
        display: none;
    }
    .contentdiv{
        background: gainsboro;
    }
    .xiaoshoudiv{
        width: 80%;
        margin-left: -40%;
    }
    .xiaoshoubtn{
        height: 42px;
        width: 20%;
        left: 40%;
        padding: 10px;
        text-align: center;
    }
    .jianjiediv{
        font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-indent: 2em;
    }
    .content{
        position: relative;
        margin: 0px;
        width: 100%;
        height: auto;
        border-radius: 0;
        background: gainsboro;
    }
    .work, .jineng, .project, .contact{
        margin: 5%;
        padding: 5%;
        border: 1px solid goldenrod;
        border-radius: 5px;
        width: 90%;
        height: auto;
    }

}